<!DOCTYPE html>
<html>
<head>
	<title>Books Home</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'beltreviewer/css/styles.css'%}">
	<script src="https://use.fontawesome.com/afa3410fb1.js"></script>
</head>
<body>
{% if messages %}
	{% for message in messages %}
	<div><p style="color: red;">{{ message }}</p></div>
  	{% endfor %}
{% endif %}
<header>
	<h1 id="welcometitle">Success! Welcome, {{user.first_name}} {{user.last_name}}</h1>
	<div class="navbar">
		<li><a href="/books/add">Add Book and Review</a></li>
		<li><a href="/logout">Logout</a></li>
	</div>
</header>

<!-- AREA WITH RECENT BOOK REVIEWS -->

<div id="recent-book-reviews" class="block">
<h2>Recent Book Reviews:</h2>
	{% for review in recentreviews %}
	<div class="book">
		<a href="book/{{review.book.id}}"><h3>{{review.book.title}}</h3></a>
		{% if review.rating == 5 %}
		<p><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i></p>
		{% endif %}
		{% if review.rating == 4 %}
		<p><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i></p>
		{% endif %}
		{% if review.rating == 3 %}
		<p><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i></p>
		{% endif %}
		{% if review.rating == 2 %}
		<p><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i></p>
		{% endif %}
		{% if review.rating == 1 %}
		<p><i style="color: #FFA824;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i><i style="color: #F5DEB3;" class="fa fa-star fa-2x"></i></p>
		{% endif %}
		<div class="review">
			<a href="user/{{review.user.id}}"><p>{{review.user.first_name}}</a> says: {{review.content}}</p>
			<p>Published on {{review.created_at}}

		</div>
	</div>
	{% endfor %}
</div>

<div class="block">
<h2>Other Books with Reviews:</h2>
	<div id="other-book-reviews">
	{% for book in books %}
		<li><a href="book/{{book.id}}">{{book.title}}</a></li>
	{% endfor %}
	</div>
</div>
</body>
</html>