<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'quotes/css/styles.css'%}">
</head>
<body>
<header>
	<h1 id="welcometitle">Welcome, {{user.first_name}}</h1>
	<div class="navbar">
		<li><a href="/logout">Logout</a></li>
	</div>
{% if messages %}
	{% for message in messages %}
	<div><p style="color: red;">{{ message }}</p></div>
  	{% endfor %}
{% endif %}
</header>
<div class="block">
<h2>Quotes</h2>
	{% for quote in allquotes %}
		<form action="/favorite" method="post">
		{% csrf_token %}
		<input type="hidden" name="quoteid" value="{{quote.id}}">
		<div class="quote">
		<p>{{quote.content}}</p>
		<p><span class="italics">Posted by </span><a href="user/{{user.id}}">{{quote.user.first_name}}</a> <input type="submit" value="Add to My List"></p>
		<form>
	</div>
	{% endfor %}
</div>

<div class="block">
	<h2>Your Favorites</h2>
	<form action="/remove" method="post">
	{% csrf_token %}
	<input type="hidden" name="quoteid" value="{{favorite.id}}">
	{% for quote in favoritequotes %}
	<div>
		<p>{{content}}</p>
		<p><span class="italics">Posted by </span>{{user.first_name}} <input type="submit" value="Remove From My List"></p>
	</div>
	{% endfor %}
</div>

<div id="quoteform">
	<h2>Contribute a Quote:</h2>
	<form action='/addquote' method="POST">
	{% csrf_token %}
	<p>Quoted By: <input type="text" name="author"></p>
	<p>Message: <textarea name="content" col="5" rows="5"></textarea></p>
	<input type="submit" value="Submit">
	</form>
</div>
</body>
</html>