<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'quotes/css/styles.css'%}">
</head>
<body>
<header>
	<div class="navbar">
		<li><a href="/quotes">Dashboard</a></li>
		<li><a href="/logout">Logout</a></li>
	</div>
</header>
<div class="section" id="user-info">
<p>Posts by {{user.first_name}} {{user.last_name}}</p>
<p>Count: {{quotesnum}}</p>
</div>

<div class="section" id="user-reviews">

{% for quote in quotes %}
<p><span style="color: red;">{{quote.author}}:</span> {{quote.content}}</a></p>
{% endfor %}
</div>
</body>
</html>